<div id="loginbox">
    <div style="width:260px;margin:200px auto;">
        <span style="color: #999;font-size: 14px;">先给自己一个棒棒的昵称</span>
        <br/>
        <br/>
        <input type="text" style="width:180px;border: 1px solid #ccc;padding: 2px 10px;" placeholder="请输入用户名" id="username" name="username" />
        <input type="button" style="width:50px;background-color: #4cae4c;border-color: #4cae4c;color: #fff;border: 1px solid #4cae4c;padding: 1.5px;" value="提交" onclick="CHAT.usernameSubmit();" />
    </div>
</div>
<div id="chatbox" style="display:none;">
    <div style="background:blueviolet;height: 28px; width: 100%;font-size:12px;">
        <div style="line-height: 28px;color:#fff;">
            <span style="text-align:left;margin-left:10px;">Websocket.io通信</span>
            <span style="float:right; margin-right:10px;"><span id="showusername"></span> |
                <a href="javascript:;" onclick="CHAT.logout()" style="color:#fff;">退出</a></span>
        </div>
    </div>
    <div id="doc">
        <div id="chat">
            <div id="message" class="message">
                <div id="onlinecount" style="background:#EFEFF4; font-size:12px; margin-top:10px; margin-left:10px; color:#666;">
                </div>
            </div>
            <div class="input-box">
                <div class="input">
                    <input type="text" maxlength="140" placeholder="请输入聊天内容，按Enter提交" id="content" name="content">
                </div>
                <div class="action">
                    <button type="button" id="mjr_send" onclick="CHAT.submit();">提交</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../js/csdn.js"></script>